html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************/
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.banner {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.pictures {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Gilroy';
}

/* header */
header {
  font-family: 'Gilroy';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

header nav {
  width: 655px;
  margin-left: 111px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 107%;
  color: #1F2428;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

header nav ul li a:hover {
  color: #00C97B;
}

header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 162px;
}

header .user .txt {
  margin-right: 42px;
}

header .user .txt span {
  font-weight: 600;
  font-size: 15px;
  line-height: 107%;
  color: #1F2428;
  margin-left: 4px;
}

header .user .txt img {
  vertical-align: middle;
}

header .user form button {
  background: #00C97B;
  border-radius: 36px;
  border: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 17px;
  width: 170px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

header .user form button:hover {
  background-color: #1F2428;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 1400px) {
  .center {
    width: 95%;
  }
  header .user .txt span {
    margin-left: 0px;
  }
  header nav {
    width: 100%;
    margin-left: 7%;
  }
  header .user {
    margin-left: 6%;
  }
}

@media screen and (max-width: 1100px) {
  header nav {
    display: none;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .user .txt {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  header .user {
    margin-left: 0%;
    margin-top: 20px;
  }
}