

@import "footer";
@import "info-baner";



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************/
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}



.banner {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.pictures {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Gilroy';
}




/* container-two */

@mixin onlylarge($w)
{
	@media only screen and (max-width:$w){
		@content
	}
}


$white:#FFFFFF;
$dark:#1F2428;


/* header */






header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    @include onlylarge(1100px){
        width: 100%;
      }
    .navigation{

        @include onlylarge(1100px){
            display: none;
            min-height: 100vh;
            background: rgba(0,0,0,0.8);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: fixed;
            top: 0;
            left: -100%;
            width: 85%;
            min-width: 270px;
            color: #fff;
            padding-top: 130px;
            transition: 1s;
            z-index: 10; 
          }

       
        ul{
            display: flex;
            align-items: center;
            @include onlylarge(1100px){
                flex-direction: column;
              }
            li{
                
                margin-right: 40px;
                @include onlylarge(1300px){
                    margin-right: 25px;
                  }
                  @include onlylarge(1150px){
                    margin-right: 15px;
                  }

                  @include onlylarge(1100px){
                    margin-bottom: 30px;
                  }

                 
                a{
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 107%;
                    color:$dark ; 
                    transition: 0.8s;
                    cursor: pointer;
                    @include onlylarge(1100px){
                        color: #FFFFFF;
                      }
                }

                a:hover{
                    color: #00C97B;
                }
            }

           

            .user{
                margin-left: 97px;
                @include onlylarge(1400px){
                       margin-left: 0px;
                  }
                a{
                    img{
                        vertical-align: middle;
                        @include onlylarge(1100px){
                            display: none;
                          }
                    }
                }
            }
            .buton{
              
                    form{
                        button{
                            background: #00C97B;
                            box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
                            border-radius: 36px; 
                            width: 170px;
                            font-weight: 700;
                            font-size: 13px;
                            line-height: 138%;
                            text-align: center;
                            color: $white; 
                            border: none;
                            padding-top: 17px;
                            padding-bottom: 17px;
                            transition: 0.8s;
                            cursor: pointer;
                        }

                        button:hover{
                            background-color: #1F2428;
                            box-shadow: none;
                        }
                    }
                
            }
        }
    }

    .burger{
        width: 30px;
        height: 30px;
        display: none;
        @include onlylarge(1100px){
            display: block;
          }
    }


}

@media screen and (max-width: 1100px) {
    header .navigation.show{
        left: 0;
    }


}

/* cont-three */

$dark:#1F2428;

@mixin onlylarge($w)
{
	@media only screen and (max-width:$w){
		@content
	}
}




.container-three{
    margin-top: 100px;
    margin-bottom: 180px;
    @include onlylarge(1024px){
        margin-top: 50px;
      }

      @include onlylarge(768px){
        margin-bottom: 148px;
     }

     @include onlylarge(600px){
        margin-bottom: 87px;
     }
    

    h2{
        font-weight: 800;
        font-size: 44px;
        line-height: 127%;
        color: $dark;
        margin-bottom: 40px;
        @include onlylarge(1024px){
            font-size: 38px;
          }

          @include onlylarge(600px){
            font-size: 34px;
          }
    }

    .information{
        display: grid;
        grid-template-columns: 685px 685px;
        column-gap: 67px;
        row-gap: 30px;
        @include onlylarge(1600px){
            grid-template-columns: 45% 45%;
            column-gap: 3%;
            row-gap: 3%;
         }

         @include onlylarge(1024px){
           grid-template-columns: 100%;
           row-gap: 2%;
         }

         
         @include onlylarge(600px){
            row-gap: 1%;
          }

        .blocks{
            box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
            border-radius: 16px;
            padding-left: 37px;
            padding-top: 35px;

            @include onlylarge(600px){
              padding-left: 0;
              padding-top: 25px;
              }
            h5{
                font-weight: bold;
                font-size: 18px;
                line-height: 111%;
                color: $dark;
                padding-top: 30px;
                padding-bottom: 10px;
                @include onlylarge(600px){
                    padding-top: 25px;
                    font-size: 16px;
                    }
            }

            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 188%;
                color: $dark;
                padding-bottom: 43px;
                @include onlylarge(600px){
                    padding-bottom: 31px;
                    font-size: 14px;
                    }
            }

            .first{
                width: 480px;
                @include onlylarge(1400px){
                    width: 95%;
                 }
            }

            .second{
                width: 519px;
                @include onlylarge(1400px){
                    width: 95%;
                 }
            }

            .third{
                width: 583px;
                @include onlylarge(1400px){
                    width: 95%;
                 }
            }

            .four{
                width:580px ;
                @include onlylarge(1400px){
                    width: 95%;
                 }
            }

            .five{
                width: 583px;
                @include onlylarge(1400px){
                    width: 95%;
                 }
            }
        }
    }
}


/* cont-four */

$white:#FFFFFF;

.container-four{
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 36px;
    
   
    .txt{
        display: grid;
        grid-template-columns: 407px 834px;
        column-gap: 74px;
        @include onlylarge(1400px){
            width: 95%;
            grid-template-columns: 30% 60%;
            column-gap: 10%;
         }

         @include onlylarge(1100px){
            grid-template-columns: 100%;
         }
        .logotype{
            padding-top: 44px;
            padding-bottom: 31px;
            img{
                
                @include onlylarge(768px){
                    width: 100%;
                 }
            }
        }

        .all-info{
            h1{
                font-weight: 800;
                font-size: 44px;
                line-height: 127%;
                color: $white; 
                width: 685px;
                padding-top: 111px;
                @include onlylarge(1200px){
                    width: 100%;
                 }

                 @include onlylarge(1100px){
                    padding-top: 14px;
                 }

                 @include onlylarge(768px){
                    font-size: 38px;
                 }

                 @include onlylarge(600px){
                    font-size: 35px;
                 }
                
            }
            p{
                font-size: 18px;
                line-height: 167%;
                color: $white;
                padding-top: 19px;
                padding-bottom: 30px;
                @include onlylarge(600px){
                    font-size: 16px;
                 }
                
            }

            form{
                button{
                    background: #00C97B;
                    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
                    border-radius: 36px;
                    width: 240px; 
                    font-weight: bold;
                    color: $white;
                    line-height: 106%;
                    padding-top: 24px;
                    padding-bottom: 24px;
                    border: none;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.8s;

                    @include onlylarge(1100px){
                        margin-bottom: 35px;
                     }

                     @include onlylarge(768px){
                        width: 100%;
                     }
                }

                button:hover{
                    background-color: #1F2428;
                }
            }
        }
    }  
}

@media screen and (max-width: 1400px) {
  .center {
    width: 95%;
  }


}